html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  -webkit-text-size-adjust: none;
}
mark {
  background-color: transparent;
  color: inherit;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
@-ms-viewport {
  width: device-width;
}
html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}
h1,
h2,
h3 {
  font-size: 3rem;
  line-height: 2;
}
p {
  font-size: 2rem;
  line-height: 2;
  text-decoration: none;
  color: black;
}
a {
  font-size: 2rem;
  line-height: 2;
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
.image .main {
  width: 400px;
  border: 1px solid red;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('images/bg.jpg');
  background-color: lightblue;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
#wrapper {
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  width: 100%;
  padding: 4px 2px;
  z-index: 3;
  border: 2px solid red;
}
#main .main {
  width: 300px;
  border: 1px solid red;
}
.content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  margin: 20px auto;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.content .inner {
  display: flex;
  justify-content: center;
  width: 75%;
  flex-wrap: wrap;
}
nav {
  flex-direction: column;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 500px) {
  nav {
    flex-direction: row;
  }
}
nav button {
  width: 15%;
  height: 50px;
  color: white;
  border: 1px solid white;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  width: 500px;
}
@media (min-width: 800px) {
  body {
    width: 800px;
  }
}
footer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}
