html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  -webkit-text-size-adjust: none;
}
mark {
  background-color: transparent;
  color: inherit;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
@-ms-viewport {
  width: device-width;
}
html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4 {
  font-size: 3.5rem;
  line-height: 2;
  color: white;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
  font-style: italic;
}
p {
  margin: 1px;
  font-size: 1.5rem;
  line-height: 2;
  text-decoration: none;
  color: white;
}
a {
  font-size: 2rem;
  line-height: 2;
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
.rotate-in-2-cw {
  -webkit-animation: kenburns-top 1s ease-out both;
  animation: kenburns-top 1s ease-out both;
}
/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(8px);
    filter: blur(8px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(8px);
    filter: blur(8px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('images/bg.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  -webkit-animation: kenburns-top 2s ease-out both;
  animation: kenburns-top 2s ease-out both;
}
.change2 {
  z-index: 3;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
#wrapper {
  margin: 0 auto;
  position: relative;
  height: 100%;
  width: 80%;
  z-index: 5;
}
@media (min-width: 800px) {
  #wrapper {
    max-width: 800px;
  }
}
.content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  margin: 20px auto;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}
.content .inner {
  display: flex;
  justify-content: center;
  width: 75%;
  flex-wrap: wrap;
}
header {
  position: relative;
  z-index: 2;
  width: 80%;
  margin: 80px auto 10px;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@media (min-width: 500px) {
  header {
    margin: 200px auto 10px;
    max-width: 800px;
  }
}
@media (min-width: 800px) {
  header {
    margin: 250px auto 10px;
    max-width: 800px;
  }
}
@media (max-height: 600px) {
  header {
    margin: 100px auto 10px;
  }
}
header p {
  text-align: center;
}
nav {
  margin: 30px auto;
  flex-direction: column;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 500px) {
  nav {
    flex-direction: row;
  }
  nav .btn4 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
nav button {
  width: 100px;
  height: 50px;
  color: white;
  border: 1px solid white;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav button:hover {
  border: 4px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.2);
  width: 105px;
  height: 55px;
  border-radius: 10px;
}
nav .btn1 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (min-width: 500px) {
  nav .btn1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 1px;
  }
}
nav .btn4 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (min-width: 500px) {
  nav .btn4 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 1px;
  }
}
#main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -550px;
  height: 1px;
}
@media (min-width: 500px) {
  #main {
    top: -400px;
  }
}
@media (min-width: 530px) {
  #main {
    top: -375px;
  }
}
#main .image {
  display: flex;
  margin: 5px auto;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
article {
  display: none;
}
article .art-hdr {
  margin: 1px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
article .art-hdr h2 {
  width: 80%;
}
article .art-hdr .close {
  width: 30px;
  height: 30px;
  color: white;
  border: 1px solid white;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
article .art-hdr .close:hover {
  border: 4px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.2);
  width: 35px;
  height: 35px;
  border-radius: 10px;
}
article .art-hdr .close:hover {
  border-radius: 20px;
}
.change {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 5px;
  height: min-content;
  padding: 20px;
  background-color: rgba(24, 24, 24, 0.9);
  border-radius: 8px;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.change .scrl {
  width: 100%;
  height: 500px;
  padding: 15px;
  overflow: auto;
}
#contact ul a {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3;
}
#contact .scrl .cts {
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}
#contact .scrl .ct1 {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.5s both;
}
#contact .scrl ul .ct2 {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s both;
}
#contact .scrl ul .ct3 {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2.5s both;
}
#contact .scrl ul .ct4 {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 3s both;
}
.team {
  display: flex;
  flex-wrap: wrap;
}
.team h4 {
  text-align: center;
}
.team .team-profile {
  margin: 20px 0;
  border-radius: 10px;
  background: rgba(34, 34, 34, 0.5);
}
.team .team-profile .profile-cont {
  position: relative;
  width: 80%;
  margin: 10px 10%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .team-profile .profile-cont p {
  text-align: center;
}
@media (min-width: 800px) {
  .team .team-profile .profile-cont {
    justify-content: left;
    align-items: left;
  }
}
.team .team-profile .tm-pic {
  margin: 10px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
@media (min-width: 500px) {
  .team .team-profile .tm-pic {
    width: 150px;
    height: 150px;
  }
}
.team .team-profile .pc1 {
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}
.team .team-profile .bio1 {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.5s both;
}
.team .team-profile .pc2 {
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.5s both;
}
.team .team-profile .bio2 {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s both;
}
.team .team-profile .pc3 {
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s both;
}
.team .team-profile .bio3 {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2.5s both;
}
.team .team-profile .pc4 {
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3.5s both;
}
.team .team-profile .bio4 {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 3s both;
}
.team .team-profile .pc5 {
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s both;
}
.team .team-profile .bio5 {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 3.5s both;
}
.team .team-profile .pc6 {
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4.5s both;
}
.team .team-profile .bio6 {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 4s both;
}
#about .ab1 {
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}
#about .ac1 {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.5s both;
}
#about .ab2 {
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.5s both;
}
#about .ac2 {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s both;
}
#about .ab3 {
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s both;
}
#about .ac3 {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2.5s both;
}
footer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
}
