#bg {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    background-image: url('images/bg.jpg');
    background-color: lightblue;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}