.bg {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    background-image: url('images/bg.jpg');
    background-color: rgba(65, 65, 65, 0.6);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    -webkit-animation: kenburns-top 2s ease-out both;
	animation: kenburns-top 2s ease-out both;
}


.overlay {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-color: rgba(65, 65, 65,0.5);
}

    