nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    .center;
    @media(min-width:500px) {
        flex-direction: row;
    }
    button {
        .custom-btn(15%, 50px, white);
    }
}