header{
    margin: 30% auto 20%;

    .hdr-chng {
    display: none;
}
}



.p-mo{
    @media (max-width: 500px) {
        display:none;
    }
}

nav {
    margin: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    .center;
    @media(min-width:500px) {
        flex-direction: row;
    }
    button {
        .custom-btn(100px, 50px, white);
    }
}