#main{

    display:flex;
    flex-wrap: wrap;
    .main{
        display: flex;
        margin:2px auto;
        width: 100%;
        border:1px solid red;
    }
    
    article {
        margin: 20px;
        padding: 10px;
        background-color: rgb(65, 65, 65);
        .border();
    }
}
