#main{
    display:flex;
    flex-wrap: wrap;
    position: relative;
    top: -750px;
    height: 1px;

    .image{
        display: flex;
        margin:5px auto;
        width: 100%;
        border-radius: 10px;
    }
    

}

article {
    display: none;
    
    .art-hdr {
        margin: 1px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;

        h2{
            width: 80%;
        }
        .close{
            .custom-btn(30px,30px);
            border-radius: 20px;
            
        }
    }
}

.change{
        display:flex;
        flex-wrap: wrap;
        margin: 20px;
        padding: 20px;
        background-color: rgba(65, 65, 65, 0.9);
        border-radius: 5px;

    }