#wrapper{
    position: relative;
	min-height: 100%;
	width: 100%;
	padding: 4px 2px;
    z-index: 3;
    border: 2px solid red;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    margin: 200px 0 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    .inner {
        display: flex;
        justify-content: center;
        width: 75%;
        flex-wrap: wrap;
    }
}